# Functionality
requests==2.20.0

# Development
wheel
twine
bumpversion

# Docs
sphinx==1.2.3
sphinx_rtd_theme==0.1.6

# Testing
pytest==2.6.2
pytest-sugar==0.3.4
pytest-cov==1.8.0
mock==1.0.1
responses==0.2.2
